@import url("https://fonts.googleapis.com/css?family=Lobster");
.header {
  background: url(../img/header/turinux-webagency-mobile-smartphone.png) no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.header-shadow {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
}

.header-shadow .header__image img {
  width: 18rem;
  height: 18rem;
  border: 4px solid #d2eeff;
  border-radius: 31% 69% 73% 27% / 49% 53% 47% 51%;
  -webkit-box-shadow: 0px 0px 96px 39px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 96px 39px rgba(0, 0, 0, 0.75);
}

.header-shadow .header__arrow a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  color: #ffffff;
  font-size: 50px;
  -webkit-animation: bounce 2s infinite linear;
          animation: bounce 2s infinite linear;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.header-shadow .header__text {
  text-align: center;
}

.header-shadow .header__text h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: lobster;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 0px, #FFF 0px 0px 0px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.header-shadow .header__text p {
  color: #ffffff;
  font-family: lobster;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 0px, #FFF 0px 0px 0px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.preloader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.preloader .cssload-tetrominos {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-140px, -120px);
          transform: translate(-140px, -120px);
}

.preloader .cssload-tetrominos .cssload-tetromino {
  width: 120px;
  height: 70px;
  position: absolute;
  -webkit-transition: all ease 0.44s;
  transition: all ease 0.44s;
  background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}

.preloader .cssload-tetrominos .cssload-box1 {
  -webkit-animation: cssload-tetromino1 2.18s ease-out infinite;
          animation: cssload-tetromino1 2.18s ease-out infinite;
}

@-webkit-keyframes cssload-tetromino1 {
  0%, 40% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(60px, -34px);
            transform: translate(60px, -34px);
  }
  60%, 100% {
    -webkit-transform: translate(120px, 0);
            transform: translate(120px, 0);
  }
}

@keyframes cssload-tetromino1 {
  0%, 40% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(60px, -34px);
            transform: translate(60px, -34px);
  }
  60%, 100% {
    -webkit-transform: translate(120px, 0);
            transform: translate(120px, 0);
  }
}

.preloader .cssload-tetrominos .cssload-box2 {
  -webkit-animation: cssload-tetromino2 2.18s ease-out infinite;
          animation: cssload-tetromino2 2.18s ease-out infinite;
}

@-webkit-keyframes cssload-tetromino2 {
  0%, 20% {
    -webkit-transform: translate(120px, 0px);
            transform: translate(120px, 0px);
  }
  40%, 100% {
    -webkit-transform: translate(180px, 34px);
            transform: translate(180px, 34px);
  }
}

@keyframes cssload-tetromino2 {
  0%, 20% {
    -webkit-transform: translate(120px, 0px);
            transform: translate(120px, 0px);
  }
  40%, 100% {
    -webkit-transform: translate(180px, 34px);
            transform: translate(180px, 34px);
  }
}

.preloader .cssload-tetrominos .cssload-box3 {
  -webkit-animation: cssload-tetromino3 2.18s ease-out infinite;
          animation: cssload-tetromino3 2.18s ease-out infinite;
}

@-webkit-keyframes cssload-tetromino3 {
  0% {
    -webkit-transform: translate(180px, 34px);
            transform: translate(180px, 34px);
  }
  20%, 60% {
    -webkit-transform: translate(120px, 68px);
            transform: translate(120px, 68px);
  }
  90%, 100% {
    -webkit-transform: translate(60px, 34px);
            transform: translate(60px, 34px);
  }
}

@keyframes cssload-tetromino3 {
  0% {
    -webkit-transform: translate(180px, 34px);
            transform: translate(180px, 34px);
  }
  20%, 60% {
    -webkit-transform: translate(120px, 68px);
            transform: translate(120px, 68px);
  }
  90%, 100% {
    -webkit-transform: translate(60px, 34px);
            transform: translate(60px, 34px);
  }
}

.preloader .cssload-tetrominos .cssload-box4 {
  -webkit-animation: cssload-tetromino4 2.18s ease-out infinite;
          animation: cssload-tetromino4 2.18s ease-out infinite;
}

@-webkit-keyframes cssload-tetromino4 {
  0%, 60% {
    -webkit-transform: translate(60px, 34px);
            transform: translate(60px, 34px);
  }
  90%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes cssload-tetromino4 {
  0%, 60% {
    -webkit-transform: translate(60px, 34px);
            transform: translate(60px, 34px);
  }
  90%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

nav {
  background: #35393d;
  min-height: 85px;
}

.navbar-nav {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.nav-item {
  margin-left: 2rem;
}

.nav-item {
  font-size: 1.1rem;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #fff;
}

.navbar-nav .nav-item .nav-link:before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -100%;
  width: 100%;
  height: 4px;
  background: #2196f3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #9c9c9c;
}

.navbar-nav .nav-item .nav-link:hover::before {
  -webkit-animation: animate .5s linear forwards;
          animation: animate .5s linear forwards;
}

.information__head {
  margin-top: 5rem;
}

.information__head h3 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.information__head span {
  display: block;
  height: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100px;
  background: #2B88A3;
}

.information__img {
  margin-top: 4rem;
}

.information__img img {
  width: 30rem;
  height: 30rem;
  -webkit-box-shadow: 14px 18px 51px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 14px 18px 51px -10px rgba(0, 0, 0, 0.75);
  border-radius: 52% 48% 84% 16% / 54% 30% 70% 46%;
}

.information__text {
  margin-top: 4rem;
}

.information__text h2 {
  font-weight: bold;
}

.information__text h5 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.add {
  -webkit-transform: translateY(-234%);
          transform: translateY(-234%);
}

.add1 {
  opacity: 0;
}

.skills__head {
  margin-top: 5rem;
}

.skills__head h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.skills__head span {
  display: block;
  height: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100px;
  background: #2B88A3;
}

.skills__persons {
  background-color: #884bdf;
  border-radius: 20px;
  width: 780px;
  height: 380px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.skills__persons .skills__avatar img {
  margin-top: 6rem;
  height: 110px;
  width: 110px;
  border-radius: 22% 78% 11% 89% / 54% 30% 70% 46%;
}

.skills__persons .skills__name {
  -webkit-transition: 4s linear;
  transition: 4s linear;
}

.skills__persons .skills__name h2 {
  color: #fff;
}

.skills__persons .skills__container {
  position: absolute;
  width: 780px;
  padding: 10px 20px;
  bottom: -365px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transition: 4s linear;
  transition: 4s linear;
}

.skills__persons .skills__container .skills__images img {
  width: 100px;
  height: 100px;
}

.services__header {
  margin-top: 5rem;
}

.services__header h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: bold;
}

.services__header span {
  display: block;
  height: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100px;
  background: #2B88A3;
}

.services__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  margin-bottom: 6rem;
  background-color: #fff;
  text-align: center;
  height: 30rem;
  border-radius: 15% 85% 41% 59% / 28% 18% 82% 72%;
  -webkit-box-shadow: 0px 0px 109px -19px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 109px -19px rgba(0, 0, 0, 0.75);
}

.services__box1 h3 {
  color: #000;
  font-size: 2.2rem;
  font-weight: bold;
}

.services__box1 i {
  font-style: normal;
  font-size: 3rem;
  color: #000;
}

.services__box1 a {
  padding: 10px;
  color: #000;
  border-radius: 50px;
  background-color: #ffd156;
  border: 1px solid #ffd156;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.services__box1 a:hover {
  background-color: #fff;
  color: black;
}

.services__box1 p {
  padding: 10px;
  margin-top: 20px;
  color: #000;
  line-height: 1px;
  font-size: 1.3rem;
  margin-bottom: 27px;
}

.services__box1 span {
  color: #000;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1px;
}

.proccess h3 {
  text-align: center;
}

.proccess p {
  text-align: center;
}

.proccess__header {
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.proccess__header h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: left;
}

.proccess__header span {
  display: block;
  height: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100px;
  background: #2B88A3;
}

.proccess__icon1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #ffcc66;
  color: white;
  border-radius: 50px 50px 200px 200px;
}

.proccess__icon1 i {
  color: white;
  font-size: 3rem;
  font-style: normal;
}

.proccess__icon2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #66aeff;
  color: white;
  border-radius: 50px 50px 200px 200px;
}

.proccess__icon2 i {
  color: white;
  font-size: 3rem;
  font-style: normal;
}

.proccess__icon3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #ff6666;
  color: white;
  border-radius: 50px 50px 200px 200px;
}

.proccess__icon3 i {
  color: white;
  font-size: 3rem;
  font-style: normal;
}

.proccess__icon4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #7866ff;
  color: white;
  border-radius: 50px 50px 200px 200px;
}

.proccess__icon4 i {
  color: white;
  font-size: 3rem;
  font-style: normal;
}

.proccess__icon5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #ffa366;
  color: white;
  border-radius: 50px 50px 200px 200px;
}

.proccess__icon5 i {
  color: white;
  font-size: 3rem;
  font-style: normal;
}

.hire {
  background-image: url(../img/hire/hireME.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px;
}

.hire__shadow {
  background-color: rgba(0, 0, 0, 0.7);
  height: 300px;
}

.hire__shadow .hire__header h3 {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.hire__shadow .hire__header a {
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
}

.hire__shadow .hire__header a:hover {
  background-color: #fff;
  color: #000;
}

.portfolio {
  margin-bottom: 10rem;
}

.portfolio__header {
  margin-top: 6rem;
}

.portfolio__header h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: bold;
}

.portfolio__header span {
  display: block;
  height: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100px;
  background: #2B88A3;
}

.portfolio__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 330px;
}

.portfolio__text a {
  background-color: #fff;
  border: 1px solid #884bdf;
  padding: 10px;
  border-radius: 60px;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portfolio__text a:hover {
  background-color: #884bdf;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portfolio__slider1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__slider1 .slick-list {
  border-radius: 15% 85% 41% 59% / 28% 18% 82% 72%;
  -webkit-box-shadow: 1px 3px 15px 7px rgba(0, 0, 0, 0.46);
          box-shadow: 1px 3px 15px 7px rgba(0, 0, 0, 0.46);
}

.portfolio__slider1 .prev {
  background-color: transparent;
  border: 1px solid #35393d;
  width: 278px;
  height: 36px;
  border-radius: 60px;
  -webkit-transform: translateX(138%);
          transform: translateX(138%);
  z-index: 2;
  font-size: 22px;
  color: #000;
}

.portfolio__slider1 .next {
  background-color: transparent;
  border: 1px solid #35393d;
  width: 278px;
  height: 36px;
  border-radius: 60px;
  -webkit-transform: translateX(-143%);
          transform: translateX(-143%);
  z-index: 2;
  font-size: 22px;
  color: #000;
}

.portfolio__slider2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__slider2 .slick-list {
  border-radius: 15% 85% 41% 59% / 28% 18% 82% 72%;
  -webkit-box-shadow: 1px 3px 15px 7px rgba(0, 0, 0, 0.46);
          box-shadow: 1px 3px 15px 7px rgba(0, 0, 0, 0.46);
}

.portfolio__slider2 .prev {
  background-color: transparent;
  border: 1px solid #35393d;
  width: 400px;
  height: 36px;
  border-radius: 60px;
  -webkit-transform: translateX(138%);
          transform: translateX(138%);
  z-index: 2;
  font-size: 22px;
  color: #000;
}

.portfolio__slider2 .next {
  background-color: transparent;
  border: 1px solid #35393d;
  width: 400px;
  height: 36px;
  border-radius: 60px;
  -webkit-transform: translateX(-143%);
          transform: translateX(-143%);
  z-index: 2;
  font-size: 22px;
  color: #000;
}

.portfolio__slider3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__slider3 .slick-list {
  border-radius: 15% 85% 41% 59% / 28% 18% 82% 72%;
  -webkit-box-shadow: 1px 3px 15px 7px rgba(0, 0, 0, 0.46);
          box-shadow: 1px 3px 15px 7px rgba(0, 0, 0, 0.46);
}

.portfolio__slider3 .prev {
  background-color: transparent;
  border: 1px solid #35393d;
  width: 278px;
  height: 36px;
  border-radius: 60px;
  -webkit-transform: translateX(138%);
          transform: translateX(138%);
  z-index: 2;
  font-size: 22px;
  color: #000;
}

.portfolio__slider3 .next {
  background-color: transparent;
  border: 1px solid #35393d;
  width: 278px;
  height: 36px;
  border-radius: 60px;
  -webkit-transform: translateX(-143%);
          transform: translateX(-143%);
  z-index: 2;
  font-size: 22px;
  color: #000;
}

.portfolio__slider4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__slider4 .slick-list {
  border-radius: 15% 85% 41% 59% / 28% 18% 82% 72%;
  -webkit-box-shadow: 1px 3px 15px 7px rgba(0, 0, 0, 0.46);
          box-shadow: 1px 3px 15px 7px rgba(0, 0, 0, 0.46);
}

.portfolio__slider4 .prev {
  background-color: transparent;
  border: 1px solid #35393d;
  width: 200px;
  height: 36px;
  border-radius: 60px;
  -webkit-transform: translateX(138%);
          transform: translateX(138%);
  z-index: 2;
  font-size: 22px;
  color: #000;
}

.portfolio__slider4 .next {
  background-color: transparent;
  border: 1px solid #35393d;
  width: 200px;
  height: 36px;
  border-radius: 60px;
  -webkit-transform: translateX(-143%);
          transform: translateX(-143%);
  z-index: 2;
  font-size: 22px;
  color: #000;
}

.portfolio__slider5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__slider5 .slick-list {
  border-radius: 15% 85% 41% 59% / 28% 18% 82% 72%;
  -webkit-box-shadow: 1px 3px 15px 7px rgba(0, 0, 0, 0.46);
          box-shadow: 1px 3px 15px 7px rgba(0, 0, 0, 0.46);
}

.portfolio__slider5 .prev {
  background-color: transparent;
  border: 1px solid #35393d;
  width: 390px;
  height: 36px;
  border-radius: 60px;
  -webkit-transform: translateX(138%);
          transform: translateX(138%);
  z-index: 2;
  font-size: 22px;
  color: #000;
}

.portfolio__slider5 .next {
  background-color: transparent;
  border: 1px solid #35393d;
  width: 390px;
  height: 36px;
  border-radius: 60px;
  -webkit-transform: translateX(-143%);
          transform: translateX(-143%);
  z-index: 2;
  font-size: 22px;
  color: #000;
}

.portfolio__slider6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__slider6 .slick-list {
  border-radius: 15% 85% 41% 59% / 28% 18% 82% 72%;
  -webkit-box-shadow: 1px 3px 15px 7px rgba(0, 0, 0, 0.46);
          box-shadow: 1px 3px 15px 7px rgba(0, 0, 0, 0.46);
}

.portfolio__slider6 .prev {
  background-color: transparent;
  border: 1px solid #35393d;
  width: 240px;
  height: 36px;
  border-radius: 60px;
  -webkit-transform: translateX(138%);
          transform: translateX(138%);
  z-index: 2;
  font-size: 22px;
  color: #000;
}

.portfolio__slider6 .next {
  background-color: transparent;
  border: 1px solid #35393d;
  width: 240px;
  height: 36px;
  border-radius: 60px;
  -webkit-transform: translateX(-143%);
          transform: translateX(-143%);
  z-index: 2;
  font-size: 22px;
  color: #000;
}

.footer__header {
  margin-top: 5rem;
}

.footer__header h2 {
  font-size: 4rem;
  font-weight: bold;
}

.footer__header span {
  display: block;
  height: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100px;
  background: #2B88A3;
}

.footer__header h3 {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.footer .back-to-top {
  display: none;
  color: #fff;
  width: 60px;
  cursor: pointer;
  font-size: 20px;
  height: 60px;
  padding: 2px 10px 3px;
  position: fixed;
  z-index: 1001;
  right: 15px;
  bottom: 30px;
  background-color: #884bdf;
  border-radius: 30px;
}

.footer .back-to-top .blIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
}

.footer .back-to-top .blIcons .fas {
  font-style: normal;
}

@media (max-width: 1199px) {
  .information__img img {
    width: 25rem;
    height: 25rem;
  }
}

@media (max-width: 991px) {
  .information__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills .skills__persons .skills__container {
    width: 691px;
    bottom: -295px;
  }
  .skills .skills__persons .skills__container .skills__images img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 767px) {
  .skills .skills__persons .skills__container {
    width: 511px;
    bottom: -248px;
  }
  .skills .skills__persons .skills__container .skills__images img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 575px) {
  .information__img img {
    width: 15rem;
    height: 15rem;
  }
  .skills .skills__persons .skills__container {
    width: 100%;
    bottom: -225px;
  }
  .skills .skills__persons .skills__container .skills__images img {
    width: 40px;
    height: 40px;
  }
  .information__head h3 {
    font-size: 2.5rem;
  }
  .skills__head h2 {
    font-size: 2.5rem;
  }
  .services__header h3 {
    font-size: 2.5rem;
  }
  .proccess__header h3 {
    font-size: 2.5rem;
  }
  .portfolio {
    margin-bottom: 0;
  }
  .portfolio__header h3 {
    font-size: 2.5rem;
  }
  .portfolio__slider1 {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .portfolio__slider2 {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .portfolio__slider3 {
    margin-bottom: 80px;
    margin-top: 80px;
  }
  .portfolio__slider4 {
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .portfolio__slider5 {
    margin-bottom: 50px;
    margin-top: 110px;
  }
  .portfolio__slider6 {
    margin-bottom: 0px;
    margin-top: 50px;
  }
  .hire__shadow .hire__header h3 {
    font-size: 2rem;
  }
  .footer__header h2 {
    font-size: 2.5rem;
  }
  .footer__header h3 {
    font-size: 2rem;
  }
  .forme-kont .menu .rotater {
    top: 45px;
    -webkit-transform-origin: 54% 0;
            transform-origin: 54% 0;
  }
}

@media (max-width: 393px) {
  .skills .skills__persons .skills__container {
    width: 100%;
    bottom: -319px;
  }
}
/*# sourceMappingURL=style.css.map */