.add
  transform: translateY(-234%)
.add1
  opacity: 0
.skills
  &__head
    margin-top: 5rem
    h2
      font-size: 3.5rem 
      text-transform: uppercase
      font-weight: bold
    span
      display: block
      height: 10px
      margin-top: 30px
      margin-bottom: 30px
      width: 100px
      background: #2B88A3
  &__persons
      background-color: #884bdf
      border-radius: 20px
      width: 780px
      height: 380px
      text-align: center
      position: relative
      overflow: hidden
      .skills__avatar
        img
          margin-top: 6rem;
          height: 110px;
          width: 110px;
          border-radius: 60px
      .skills__name
        transition: 4s linear
        h2
          color: #fff
      .skills__container
        position: absolute
        width: 780px
        padding: 10px 20px
        bottom: -365px
        border-radius: 20px
        background-color: #fff
        transition: 4s linear
        .skills__images
          img
            width: 100px
            height: 100px






