doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Pcy;&ocy;&ncy;&zcy;&iecy;&lcy;&softcy; Frontend developer, &rcy;&iecy;&zcy;&yucy;&mcy;&iecy;
  meta(name='description' content='Александр Понзель Frontend developer, резюме')
  meta(name='keywords' content='мета-теги, шаблон, html, css')
  link(rel='shortcut icon' href='static/img/favicon/imgonline-com-ua-Resize-E5uOSSM2SPBLNAJ.jpg' type='image/jpg')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css')
  link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN' crossorigin='anonymous')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.1/css/all.css')
  // Font Awesome
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
  // Bootstrap core CSS
  link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css' rel='stylesheet')
  // Material Design Bootstrap
  link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.0/css/mdb.min.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css')
  link(rel='stylesheet' href='static/css/style.css')
// Прелоадер
#preloader.preloader
  .cssload-loader
    .cssload-inner.cssload-one
    .cssload-inner.cssload-two
    .cssload-inner.cssload-three
// Главный экран
header#header.header
  .header-shadow
    .container
      .row
        .col-lg-12.d-flex.flex-column.justify-content-around.align-items-center(style='height: 100vh;')
          .header__image.wow.rubberBand
            img(src='static/img/header/v7Uy43xiFgk-min.jpg' alt='logo')
          .header__text.wow.flash
            h2 &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Pcy;&ocy;&ncy;&zcy;&iecy;&lcy;&softcy;
            p Frontend developer
          #stel.header__arrow
            a(href='#information') &darr;
      // /.row
      // /.col-lg-12
    // /.container
// Контент
main
  // меню навигации
  header
    nav.navbar.navbar-expand-lg.navbar-light.top-navbar(data-toggle='sticky-onscroll')
      .container
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse.justify-content-center
          ul.navbar-nav.hed.pull-right(style='float: left;')
            li.nav-item
              a.nav-link.active(href='#header') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
            li.nav-item
              a.nav-link(href='#information') &Ocy;&bcy;&ocy; &mcy;&ncy;&iecy;
            li.nav-item
              a.nav-link(href='#navikii') &Ncy;&acy;&vcy;&ycy;&kcy;&icy;
            li.nav-item
              a.nav-link(href='#uslugi') &Ucy;&scy;&lcy;&ucy;&gcy;&icy;
            li.nav-item
              a.nav-link(href='#proccess') &Ecy;&tcy;&acy;&pcy;&ycy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&icy;
            li.nav-item
              a.nav-link(href='#portfolio') &Pcy;&ocy;&rcy;&tcy;&fcy;&ocy;&lcy;&icy;&ocy;
            li.nav-item
              a.nav-link(href='#footer') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
  // Информация обо мне
  section#information.information
    .container
      .row
        .col-md-12
          .information__head.wow.fadeInLeft
            h3 &Ocy;&Bcy;&Ocy; &Mcy;&Ncy;&IEcy;
            span
      .row
        .col-lg-6.col-md-12.d-flex.justify-content-center
          .information__img
            img(src='static/img/header/v7Uy43xiFgk-min.jpg' alt='фото')
        .col-lg-6.col-md-12.d-flex.justify-content-center
          .information__text
            h2.wow.fadeInLeft(data-wow-delay='0.1s') &Acy;&Lcy;&IEcy;&Kcy;&Scy;&Acy;&Ncy;&Dcy;&Rcy; &Pcy;&Ocy;&Ncy;&Zcy;&IEcy;&Lcy;&SOFTcy;
            h5.wow.fadeInLeft(data-wow-delay='0.2s') &Vcy;&iecy;&bcy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&chcy;&icy;&kcy;, &tcy;&iecy;&khcy;&ncy;&icy;&kcy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&ycy;&khcy; &scy;&icy;&scy;&tcy;&iecy;&mcy;
            p.wow.fadeInLeft(data-wow-delay='0.2s')
              | &Rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&ocy;&jcy; &scy;&acy;&jcy;&tcy;&ocy;&vcy; &yacy; &ucy;&vcy;&lcy;&iecy;&kcy;&scy;&yacy; &bcy;&ocy;&lcy;&iecy;&iecy; 2 &lcy;&iecy;&tcy; &ncy;&acy;&zcy;&acy;&dcy;.
              | &Icy; &zcy;&acy; &vcy;&scy;&iecy; &ecy;&tcy;&ocy; &vcy;&rcy;&iecy;&mcy;&yacy; &yacy; &ncy;&icy;&kcy;&ocy;&gcy;&dcy;&acy; &ncy;&iecy; &pcy;&iecy;&rcy;&iecy;&scy;&tcy;&acy;&vcy;&acy;&lcy; &ucy;&chcy;&icy;&tcy;&softcy;&scy;&yacy; &chcy;&iecy;&mcy;&ucy;-&tcy;&ocy; &ncy;&ocy;&vcy;&ocy;&mcy;&ucy;, web-&rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&acy; &ecy;&tcy;&ocy; &tcy;&acy; &ocy;&tcy;&rcy;&acy;&scy;&lcy;&softcy;, &vcy; &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&jcy; &icy;&dcy;&iecy;&tcy; &pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ocy;&iecy; &rcy;&acy;&zcy;&vcy;&icy;&tcy;&icy;&iecy;:
              | &pcy;&ocy;&yacy;&vcy;&lcy;&yacy;&yucy;&tcy;&scy;&yacy; &ncy;&ocy;&vcy;&ycy;&iecy; &tcy;&iecy;&khcy;&ncy;&ocy;&lcy;&ocy;&gcy;&icy;&icy;, &scy;&ocy;&vcy;&iecy;&rcy;&shcy;&iecy;&ncy;&scy;&tcy;&vcy;&ucy;&yucy;&tcy;&scy;&yacy; &pcy;&rcy;&icy;&ncy;&tscy;&icy;&pcy;&ycy; &icy; &mcy;&iecy;&tcy;&ocy;&dcy;&ycy; &pcy;&ocy;&scy;&tcy;&rcy;&ocy;&iecy;&ncy;&icy;&yacy; web-&pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&jcy;, &rcy;&acy;&zcy;&rcy;&acy;&bcy;&acy;&tcy;&ycy;&vcy;&acy;&yucy;&tcy;&scy;&yacy;
              | &gcy;&ocy;&tcy;&ocy;&vcy;&ycy;&iecy; &bcy;&icy;&bcy;&lcy;&icy;&ocy;&tcy;&iecy;&kcy;&icy; &icy; &fcy;&rcy;&iecy;&jcy;&mcy;&vcy;&ocy;&rcy;&kcy;&icy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &zcy;&ncy;&acy;&chcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &ecy;&kcy;&ocy;&ncy;&ocy;&mcy;&yacy;&tcy; &vcy;&rcy;&iecy;&mcy;&yacy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&chcy;&icy;&kcy;&acy;, &pcy;&ocy;&zcy;&vcy;&ocy;&lcy;&yacy;&yacy; &iecy;&mcy;&ucy; &scy;&kcy;&ocy;&ncy;&tscy;&iecy;&ncy;&tcy;&rcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy;&scy;&yacy; &ncy;&acy; &bcy;&ocy;&lcy;&iecy;&iecy; &mcy;&iecy;&lcy;&kcy;&icy;&khcy; &dcy;&iecy;&tcy;&yacy;&lcy;&yacy;&khcy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&icy;, &chcy;&tcy;&ocy; &vcy; &kcy;&ocy;&ncy;&iecy;&chcy;&ncy;&ocy;&mcy; &scy;&chcy;&iecy;&tcy;&iecy; &pcy;&rcy;&icy;&bcy;&lcy;&icy;&zhcy;&acy;&iecy;&tcy; &scy;&acy;&jcy;&tcy; &kcy; &icy;&dcy;&iecy;&acy;&lcy;&softcy;&ncy;&ocy;&mcy;&ucy;.
              | &Tcy;&acy;&kcy; &zhcy;&iecy; &mcy;&ocy;&yacy; &ocy;&scy;&ncy;&ocy;&vcy;&ncy;&acy;&yacy; &scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&icy;&zcy;&acy;&tscy;&icy;&yacy; &vcy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy; IT &quot;&Tcy;&iecy;&khcy;&ncy;&icy;&kcy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&ycy;&khcy; &scy;&icy;&scy;&tcy;&iecy;&mcy;&quot;
  // Навыки
  section#navikii.skills
    .container
      .row
        .col-12
          .skills__head.wow.slideInLeft
            h2 &Ncy;&Acy;&Vcy;&Ycy;&Kcy;&Icy;
            span
            p
              | &YAcy; &ucy;&bcy;&iecy;&zhcy;&dcy;&iecy;&ncy;, &chcy;&tcy;&ocy; &ncy;&iecy; &scy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&ucy;&iecy;&tcy; &pcy;&rcy;&iecy;&dcy;&iecy;&lcy;&acy; &scy;&ocy;&vcy;&iecy;&rcy;&shcy;&iecy;&ncy;&scy;&tcy;&vcy;&ucy;, &pcy;&ocy;&ecy;&tcy;&ocy;&mcy;&ucy; &ocy;&vcy;&lcy;&acy;&dcy;&iecy;&tcy;&softcy; &ncy;&acy; 100% &kcy;&acy;&kcy;&icy;&mcy;-&lcy;&icy;&bcy;&ocy; &ncy;&acy;&vcy;&ycy;&kcy;&ocy;&mcy; &ncy;&iecy;&vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;, &acy; &scy; &ucy;&chcy;&iecy;&tcy;&ocy;&mcy; &tcy;&ocy;&gcy;&ocy;, &kcy;&acy;&kcy;&icy;&mcy;&icy; &tcy;&iecy;&mcy;&pcy;&acy;&mcy;&icy; &rcy;&acy;&zcy;&vcy;&icy;&vcy;&acy;&iecy;&tcy;&scy;&yacy; IT-&icy;&ncy;&dcy;&ucy;&scy;&tcy;&rcy;&icy;&yacy;, &kcy; &ncy;&iecy;&mcy;&ucy; &dcy;&acy;&zhcy;&iecy; &scy;&lcy;&ocy;&zhcy;&ncy;&ocy; &pcy;&rcy;&icy;&bcy;&lcy;&icy;&zcy;&icy;&tcy;&softcy;&scy;&yacy;. &Gcy;&lcy;&acy;&vcy;&ncy;&ocy;&iecy;, &ncy;&acy; &mcy;&ocy;&jcy; &vcy;&zcy;&gcy;&lcy;&yacy;&dcy;, &pcy;&ocy;&ncy;&icy;&mcy;&acy;&tcy;&softcy; &kcy;&acy;&kcy;&icy;&mcy;&icy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&yacy;&mcy;&icy; &rcy;&acy;&scy;&pcy;&ocy;&lcy;&acy;&gcy;&acy;&yucy;&tcy; web-&tcy;&iecy;&khcy;&ncy;&ocy;&lcy;&ocy;&gcy;&icy;&icy; &icy; &kcy;&acy;&kcy; &ecy;&tcy;&ocy; &mcy;&ocy;&zhcy;&ncy;&ocy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&softcy;. &Pcy;&ocy;&ecy;&tcy;&ocy;&mcy;&ucy;, &vcy; &scy;&vcy;&ocy;&iecy;&jcy; &rcy;&acy;&bcy;&ocy;&tcy;&iecy; &yacy; &scy;&tcy;&acy;&rcy;&acy;&yucy;&scy;&softcy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&softcy;&scy;&yacy; &gcy;&ocy;&tcy;&ocy;&vcy;&ycy;&mcy;&icy;, &pcy;&rcy;&ocy;&vcy;&iecy;&rcy;&iecy;&ncy;&ncy;&ycy;&mcy;&icy; &rcy;&iecy;&shcy;&iecy;&ncy;&icy;&yacy;&mcy;&icy;, &ncy;&ocy; &vcy;&mcy;&iecy;&scy;&tcy;&iecy; &scy; &tcy;&iecy;&mcy;, &vcy;&ycy;&bcy;&ocy;&rcy; &tcy;&ocy;&jcy; &icy;&lcy;&icy; &icy;&ncy;&ocy;&jcy; &tcy;&iecy;&khcy;&ncy;&ocy;&lcy;&ocy;&gcy;&icy;&icy; &ocy;&bcy;&ucy;&scy;&lcy;&ocy;&vcy;&lcy;&iecy;&ncy; &zcy;&acy;&dcy;&acy;&chcy;&acy;&mcy;&icy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&acy; &icy; &ocy;&pcy;&rcy;&iecy;&dcy;&iecy;&lcy;&yacy;&iecy;&tcy;&scy;&yacy; &ncy;&acy; &iecy;&gcy;&ocy; &ncy;&acy;&chcy;&acy;&lcy;&softcy;&ncy;&ocy;&mcy; &ecy;&tcy;&acy;&pcy;&iecy;
      .row
        .col-lg-12.d-flex.flex-column.justify-content-center
          .skillbar.clearfix(data-percent='80%')
            .skillbar-title(style='background: #e44d26;')
              span HTML5
            .skillbar-bar(style='background: #e44d26;')
            .skill-bar-percent 80%
          // End Skill Bar
          .skillbar.clearfix(data-percent='75%')
            .skillbar-title(style='background: #2980b9;')
              span CSS3
            .skillbar-bar(style='background: #3498db;')
            .skill-bar-percent 75%
          // End Skill Bar
          .skillbar.clearfix(data-percent='68%')
            .skillbar-title(style='background: #f7df1e;')
              span JavaScript
            .skillbar-bar(style='background: #f7df1e;')
            .skill-bar-percent 68%
          // End Skill Bar
          .skillbar.clearfix(data-percent='65%')
            .skillbar-title(style='background: #176eb5;')
              span jQuery
            .skillbar-bar(style='background: #176eb5;')
            .skill-bar-percent 65%
          // End Skill Bar
          .skillbar.clearfix(data-percent='60%')
            .skillbar-title(style='background: #cd6799;')
              span SASS
            .skillbar-bar(style='background: #cd6799;')
            .skill-bar-percent 60%
          // End Skill Bar
          .skillbar.clearfix(data-percent='55%')
            .skillbar-title(style='background: #fe4445;')
              span GULP
            .skillbar-bar(style='background: #fe4445;')
            .skill-bar-percent 55%
          // End Skill Bar
          .skillbar.clearfix(data-percent='62%')
            .skillbar-title(style='background: #61dafb;')
              span React.js
            .skillbar-bar(style='background: #61dafb;')
            .skill-bar-percent 62%
          // End Skill Bar
  // Услуги
  section#uslugi.services
    .container
      .row
        .col-lg-12
          .services__header.wow.bounceInLeft
            h3 &Ucy;&scy;&lcy;&ucy;&gcy;&icy;
            span
      .row
        .col-lg-4.col-md-12
          .services__box1.wow.fadeInUp(data-wow-delay='0.1s')
            h3 C&acy;&jcy;&tcy; &vcy;&icy;&zcy;&icy;&tcy;&kcy;&acy;
            i.fas.fa-id-card
            p &ocy;&tcy;
            span 6000
            p &rcy;&ucy;&bcy;&lcy;&iecy;&jcy;
            a(href='#footer') &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;
        .col-lg-4.col-md-12
          .services__box1.wow.fadeInUp(data-wow-delay='0.2s')
            h3 &Lcy;&iecy;&ncy;&dcy;&icy;&ncy;&gcy; &pcy;&iecy;&jcy;&dcy;&zhcy;
            i.fa.fa-briefcase(aria-hidden='true')
            p &ocy;&tcy;
            span 10000
            p &rcy;&ucy;&bcy;&lcy;&iecy;&jcy;
            a(href='#footer') &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;
        .col-lg-4.col-md-12
          .services__box1.wow.fadeInUp(data-wow-delay='0.3s')
            h3 &Scy;&acy;&jcy;&tcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
            i.fas.fa-building
            p &ocy;&tcy;
            span 15000
            p &rcy;&ucy;&bcy;&lcy;&iecy;&jcy;
            a(href='#footer') &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;
  // Процесс разработки
  section#proccess.proccess
    .container
      .row
        .col-lg-12
          .proccess__header.wow.bounceInLeft
            h3 &Pcy;&rcy;&ocy;&tscy;&iecy;&scy;&scy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&icy;
            span
      .row
        .col-lg-4.col-md-12.d-flex.flex-column.justify-content-center.align-items-center.wow.fadeInUp(data-wow-delay='0.1s')
          h2 &Acy;&ncy;&acy;&lcy;&icy;&zcy;
          .proccess__icon1.d-flex.justify-content-center
            i.fa.fa-bar-chart(aria-hidden='true')
          p
            | &Acy;&ncy;&acy;&lcy;&icy;&zcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&acy; &vcy;&acy;&shcy;&iecy;&gcy;&ocy; &vcy;&iecy;&bcy;-&rcy;&iecy;&scy;&ucy;&rcy;&scy;&acy; &icy; &ocy;&scy;&ocy;&bcy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&iecy;&jcy; &vcy;&acy;&shcy;&icy;&khcy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&iecy;&ncy;&tcy;&ocy;&vcy;. &Rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&acy; &rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&acy;&tscy;&icy;&jcy; &pcy;&ocy; &scy;&ocy;&zcy;&dcy;&acy;&ncy;&icy;&yucy; &icy; &ucy;&lcy;&ucy;&chcy;&shcy;&iecy;&ncy;&icy;&yucy; &scy;&acy;&jcy;&tcy;&acy; &vcy; &scy;&ocy;&ocy;&tcy;&vcy;&iecy;&tcy;&scy;&tcy;&vcy;&icy;&icy; &scy; &ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy;&mcy;&icy; &rcy;&ycy;&ncy;&kcy;&acy;.
        .col-lg-4.col-md-12.d-flex.flex-column.justify-content-center.align-items-center.wow.fadeInUp(data-wow-delay='0.2s')
          h2 &Pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;
          .proccess__icon2.d-flex.justify-content-center
            i.fa.fa-pencil(aria-hidden='true')
          p
            | &Ecy;&fcy;&fcy;&iecy;&kcy;&tcy;&icy;&vcy;&ncy;&ycy;&jcy; &scy;&acy;&jcy;&tcy; &ncy;&acy;&chcy;&icy;&ncy;&acy;&iecy;&tcy;&scy;&yacy; &scy; &tcy;&shchcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &pcy;&rcy;&ocy;&dcy;&ucy;&mcy;&acy;&ncy;&ncy;&ocy;&gcy;&ocy; &pcy;&lcy;&acy;&ncy;&acy;. &Mcy;&ycy; &scy;&pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&icy;&rcy;&ucy;&iecy;&mcy; &pcy;&rcy;&ocy;&tcy;&ocy;&tcy;&icy;&pcy; &vcy;&acy;&shcy;&iecy;&gcy;&ocy; &scy;&acy;&jcy;&tcy;&acy;, &pcy;&rcy;&ocy;&dcy;&ucy;&mcy;&acy;&vcy; &ocy;&pcy;&tcy;&icy;&mcy;&acy;&lcy;&softcy;&ncy;&ucy;&yucy; &scy;&icy;&scy;&tcy;&iecy;&mcy;&ucy; &dcy;&lcy;&yacy; &rcy;&iecy;&shcy;&iecy;&ncy;&icy;&yacy; &vcy;&acy;&shcy;&icy;&khcy; &zcy;&acy;&dcy;&acy;&chcy;.
        .col-lg-4.col-md-12.d-flex.flex-column.justify-content-center.align-items-center.wow.fadeInUp(data-wow-delay='0.3s')
          h2 &Rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&acy;
          .proccess__icon3.d-flex.justify-content-center
            i.fas.fa-cogs
          p
            | &Ncy;&acy; &ocy;&scy;&ncy;&ocy;&vcy;&iecy; &ucy;&tcy;&vcy;&iecy;&rcy;&zhcy;&dcy;&iecy;&ncy;&ncy;&ocy;&gcy;&ocy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&mcy; &pcy;&rcy;&ocy;&tcy;&ocy;&tcy;&icy;&pcy;&acy; &mcy;&ycy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&acy;&tcy;&ycy;&vcy;&acy;&iecy;&mcy; &dcy;&icy;&zcy;&acy;&jcy;&ncy; &scy;&acy;&jcy;&tcy;&acy; &icy; &iecy;&gcy;&ocy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ncy;&ucy;&yucy; &chcy;&acy;&scy;&tcy;&softcy;. &Rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&acy; &vcy;&iecy;&dcy;&iecy;&tcy;&scy;&yacy; &vcy; &scy;&ocy;&ocy;&tcy;&vcy;&iecy;&tcy;&scy;&tcy;&vcy;&icy;&icy; &scy; &tcy;&iecy;&khcy;&ncy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&mcy; &zcy;&acy;&dcy;&acy;&ncy;&icy;&iecy;&mcy;.
      .row
        .col-lg-4.col-md-12.d-flex.flex-column.justify-content-center.align-items-center.wow.fadeInUp(data-wow-delay='0.4s')
          h2 &Icy;&ncy;&tcy;&iecy;&gcy;&rcy;&acy;&tscy;&icy;&yacy;
          .proccess__icon4.d-flex.justify-content-center
            i.fa.fa-television(aria-hidden='true')
          p
            | &Kcy;&ocy;&rcy;&rcy;&iecy;&kcy;&tcy;&ncy;&acy;&yacy; &icy;&ncy;&tcy;&iecy;&gcy;&rcy;&acy;&tscy;&icy;&yacy; &vcy;&acy;&shcy;&iecy;&gcy;&ocy; &vcy;&iecy;&bcy;-&rcy;&iecy;&scy;&ucy;&rcy;&scy;&acy; &vcy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ncy;&ucy;&yucy; &vcy;&acy;&mcy;&icy; CMS &mdash; &scy;&icy;&scy;&tcy;&iecy;&mcy;&ucy; &ucy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &scy;&acy;&jcy;&tcy;&ocy;&mcy;. &Mcy;&ycy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&mcy; &scy;  CMS &quot;Wordpress&quot;
        .col-lg-4.col-md-12.d-flex.flex-column.justify-content-center.align-items-center.wow.fadeInUp(data-wow-delay='0.5s')
          h2 &Pcy;&rcy;&ocy;&dcy;&vcy;&icy;&zhcy;&iecy;&ncy;&icy;&iecy;
          .proccess__icon5.d-flex.justify-content-center
            i.fa.fa-line-chart(aria-hidden='true')
          p
            | &Scy;&lcy;&iecy;&dcy;&ucy;&yucy;&shchcy;&icy;&jcy; &shcy;&acy;&gcy; &rcy;&acy;&zcy;&vcy;&icy;&tcy;&icy;&yacy; &vcy;&acy;&shcy;&iecy;&gcy;&ocy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy; &vcy; &icy;&ncy;&tcy;&iecy;&rcy;&ncy;&iecy;&tcy;&iecy; &mdash; &iecy;&gcy;&ocy; &pcy;&rcy;&ocy;&dcy;&vcy;&icy;&zhcy;&iecy;&ncy;&icy;&iecy; &vcy; &pcy;&ocy;&icy;&scy;&kcy;&ocy;&vcy;&ycy;&khcy; &scy;&icy;&scy;&tcy;&iecy;&mcy;&acy;&khcy;. &Mcy;&ycy; &pcy;&rcy;&iecy;&dcy;&lcy;&acy;&gcy;&acy;&iecy;&mcy; &fcy;&ucy;&ncy;&dcy;&acy;&mcy;&iecy;&ncy;&tcy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &pcy;&ocy;&dcy;&khcy;&ocy;&dcy;&ycy; &icy; &pcy;&rcy;&ocy;&zcy;&rcy;&acy;&chcy;&ncy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&ocy;&tscy;&iecy;&scy;&scy;&acy;.
  // Портфолио
  section#portfolio.portfolio
    .container
      .row
        .col-md-12
          .portfolio__header.wow.bounceInLeft
            h3 &Pcy;&ocy;&rcy;&tcy;&fcy;&ocy;&lcy;&icy;&ocy;
            span
      .row
        .col-lg-6
          .portfolio__slider1
            img(src='static/img/portfolio/1-min.webp' alt='portfolio')
            img(src='static/img/portfolio/2-min.webp' alt='portfolio')
            img(src='static/img/portfolio/3-min.webp' alt='portfolio')
            img(src='static/img/portfolio/4-min.webp' alt='portfolio')
            img(src='static/img/portfolio/5-min.webp' alt='portfolio')
        .col-lg-6
          .portfolio__text.wow.fadeInLeft(data-wow-delay='0.1s')
            h3 Financial
            p
              | The active trader application from financial.com is a fully integrated Thomson Reuters market data terminal with trading functionality. We customize the platform to fit the needs of active traders and interface it with their broker&rsquo;s Order Management System.
            a(href='https://alexandere1997.github.io/Financial.github.io/' target='_blank') &Scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy;
      .row
        .col-lg-6
          .portfolio__slider2
            img(src='static/img/portfolio/2-1-min.webp' alt='portfolio')
            img(src='static/img/portfolio/2-2-min.webp' alt='portfolio')
            img(src='static/img/portfolio/2-3-min.webp' alt='portfolio')
            img(src='static/img/portfolio/2-4-min.webp' alt='portfolio')
            img(src='static/img/portfolio/2-5-min.webp' alt='portfolio')
            img(src='static/img/portfolio/2-6-min.webp' alt='portfolio')
            img(src='static/img/portfolio/2-7-min.webp' alt='portfolio')
            img(src='static/img/portfolio/2-8-min.webp' alt='portfolio')
        .col-lg-6
          .portfolio__text.wow.fadeInLeft(data-wow-delay='0.2s')
            h3 &Tcy;&ocy;&rcy;&tcy;&ycy; &ncy;&acy; &zcy;&acy;&kcy;&acy;&zcy;
            p
              | &Ecy;&kcy;&scy;&kcy;&lcy;&yucy;&zcy;&icy;&vcy;&ncy;&ycy;&iecy; &tcy;&ocy;&rcy;&tcy;&ycy; &ncy;&acy; &lcy;&yucy;&bcy;&ocy;&jcy; &scy;&lcy;&ucy;&chcy;&acy;&jcy; &zhcy;&icy;&zcy;&ncy;&icy;.&Mcy;&ycy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&mcy; &lcy;&yucy;&bcy;&ocy;&jcy; &tcy;&ocy;&rcy;&tcy; &dcy;&lcy;&yacy; &Vcy;&acy;&shcy;&iecy;&gcy;&ocy; &tcy;&ocy;&rcy;&zhcy;&iecy;&scy;&tcy;&vcy;&acy;! &Ncy;&acy; &scy;&vcy;&acy;&dcy;&softcy;&bcy;&ucy;, &dcy;&iecy;&ncy;&softcy; &rcy;&ocy;&zhcy;&dcy;&iecy;&ncy;&icy;&yacy;, &icy;&lcy;&icy; &tcy;&ocy;&rcy;&zhcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&jcy; &pcy;&rcy;&icy;&iecy;&mcy;! &YAcy;&rcy;&kcy;&icy;&iecy;, &kcy;&rcy;&acy;&scy;&ocy;&chcy;&ncy;&ycy;&iecy;, &scy;&mcy;&iecy;&shcy;&ncy;&ycy;&iecy; &icy; &zcy;&acy;&pcy;&ocy;&mcy;&icy;&ncy;&acy;&yucy;&shchcy;&icy;&iecy;&scy;&yacy; &tcy;&ocy;&rcy;&tcy;&ycy; &dcy;&lcy;&yacy; &Vcy;&acy;&scy;.&Icy;&ncy;&dcy;&icy;&vcy;&icy;&dcy;&ucy;&acy;&lcy;&softcy;&ncy;&ocy;&jcy; &fcy;&ocy;&rcy;&mcy;&ycy; &icy; &scy;&ocy;&dcy;&iecy;&rcy;&zhcy;&acy;&ncy;&icy;&yacy;! &Kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&ocy;!!!
            a(href='https://alexandere1997.github.io/TORTZAKAZ.github.io/' target='_blank') &Scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy;
      .row
        .col-lg-6
          .portfolio__slider3
            img(src='static/img/portfolio/market/1.webp' alt='portfolio')
            img(src='static/img/portfolio/market/2.webp' alt='portfolio')
            img(src='static/img/portfolio/market/3.webp' alt='portfolio')
            img(src='static/img/portfolio/market/4.webp' alt='portfolio')
            img(src='static/img/portfolio/market/5.webp' alt='portfolio')
            img(src='static/img/portfolio/market/6.webp' alt='portfolio')
            img(src='static/img/portfolio/market/7.webp' alt='portfolio')
            img(src='static/img/portfolio/market/8.webp' alt='portfolio')
        .col-lg-6
          .portfolio__text.wow.fadeInLeft(data-wow-delay='0.3s')
            h3 &Mcy;&acy;&rcy;&kcy;&iecy;&tcy;&pcy;&lcy;&iecy;&jcy;&scy;
            p
              | Placto - &scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&icy;&zcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&ncy;&ycy;&jcy; &mcy;&acy;&rcy;&kcy;&iecy;&tcy;&pcy;&lcy;&iecy;&jcy;&scy; &dcy;&lcy;&yacy; &rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ncy;&ocy;&gcy;&ocy; &icy; &mcy;&acy;&rcy;&kcy;&iecy;&tcy;&icy;&ncy;&gcy;&ocy;&vcy;&ocy;&gcy;&ocy; &rcy;&ycy;&ncy;&kcy;&acy;.
              | &Pcy;&rcy;&icy; &pcy;&ocy;&mcy;&ocy;&shchcy;&icy; &icy;&ncy;&scy;&tcy;&rcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ocy;&vcy; &mcy;&acy;&rcy;&kcy;&iecy;&tcy;&pcy;&lcy;&iecy;&jcy;&scy;&acy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ycy; &mcy;&ocy;&gcy;&ucy;&tcy; &ncy;&acy;&jcy;&tcy;&icy; &icy; &zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &lcy;&yucy;&bcy;&ycy;&iecy; &ucy;&scy;&lcy;&ucy;&gcy;&icy;:
              | &ocy;&tcy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&icy; &pcy;&rcy;&ocy;&scy;&tcy;&iecy;&jcy;&shcy;&iecy;&gcy;&ocy; &lcy;&ocy;&gcy;&ocy;&tcy;&icy;&pcy;&acy;, &dcy;&ocy; &tcy;&iecy;&mcy;&acy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&ocy;&jcy; &rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ncy;&ocy;&jcy; &kcy;&acy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &fcy;&iecy;&dcy;&iecy;&rcy;&acy;&lcy;&softcy;&ncy;&ocy;&gcy;&ocy; &mcy;&acy;&scy;&shcy;&tcy;&acy;&bcy;&acy;
            a(href='https://alexandere1997.github.io/marketplace.github.io/' target='_blank') &Scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy;
      .row
        .col-lg-6
          .portfolio__slider4
            img(src='static/img/portfolio/5-1-min.webp' alt='portfolio')
            img(src='static/img/portfolio/5-2-min.webp' alt='portfolio')
            img(src='static/img/portfolio/5-3.webp' alt='portfolio')
        .col-lg-6
          .portfolio__text.wow.fadeInLeft(data-wow-delay='0.4s')
            h3 &Acy;&fcy;&rcy;&icy;&kcy;&acy;
            p
              | &Acy;&fcy;&rcy;&icy;&kcy;&acy;. &Zcy;&acy;&gcy;&acy;&dcy;&ocy;&chcy;&ncy;&ycy;&jcy; &chcy;&iecy;&rcy;&ncy;&ycy;&jcy; &kcy;&ocy;&ncy;&tcy;&icy;&ncy;&iecy;&ncy;&tcy;. &Pcy;&rcy;&icy;&chcy;&iecy;&mcy; &chcy;&iecy;&rcy;&ncy;&ycy;&jcy; &ncy;&iecy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &bcy;&lcy;&acy;&gcy;&ocy;&dcy;&acy;&rcy;&yacy; &scy;&vcy;&ocy;&iecy;&mcy;&ucy; &kcy;&ocy;&rcy;&iecy;&ncy;&ncy;&ocy;&mcy;&ucy; &tcy;&iecy;&mcy;&ncy;&ocy;&kcy;&ocy;&zhcy;&iecy;&mcy;&ucy; &ncy;&acy;&scy;&iecy;&lcy;&iecy;&ncy;&icy;&yucy;, &ncy;&ocy; &icy; &chcy;&iecy;&rcy;&ncy;&ycy;&jcy; &bcy;&lcy;&acy;&gcy;&ocy;&dcy;&acy;&rcy;&yacy; &ncy;&acy;&shcy;&iecy;&mcy;&ucy; &pcy;&rcy;&ocy;&scy;&vcy;&iecy;&shchcy;&iecy;&ncy;&ncy;&ocy;&mcy;&ucy; &iecy;&vcy;&rcy;&ocy;&pcy;&iecy;&jcy;&scy;&kcy;&ocy;&mcy;&ucy; &ncy;&iecy;&vcy;&iecy;&zhcy;&iecy;&scy;&tcy;&vcy;&ucy; &ocy;&tcy;&ncy;&ocy;&scy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &Acy;&fcy;&rcy;&icy;&kcy;&icy;. &Dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;, &chcy;&tcy;&ocy; &zcy;&ncy;&acy;&iecy;&tcy; &scy;&rcy;&iecy;&dcy;&ncy;&iecy;&scy;&tcy;&acy;&tcy;&icy;&scy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&jcy; &iecy;&vcy;&rcy;&ocy;&pcy;&iecy;&jcy;&scy;&kcy;&icy;&jcy; (&icy;&lcy;&icy; &pcy;&ucy;&scy;&tcy;&softcy; &acy;&mcy;&iecy;&rcy;&icy;&kcy;&acy;&ncy;&scy;&kcy;&icy;&jcy;, &kcy;&icy;&tcy;&acy;&jcy;&scy;&kcy;&icy;&jcy;) &zhcy;&icy;&tcy;&iecy;&lcy;&softcy; &ocy;&bcy; &Acy;&fcy;&rcy;&icy;&kcy;&iecy;, &iecy;&iecy; &icy;&scy;&tcy;&ocy;&rcy;&icy;&icy;, &tscy;&icy;&vcy;&icy;&lcy;&icy;&zcy;&acy;&tscy;&icy;&icy;, &kcy;&ucy;&lcy;&softcy;&tcy;&ucy;&rcy;&iecy;? &Pcy;&ocy;&chcy;&tcy;&icy; &ncy;&icy;&chcy;&iecy;&gcy;&ocy;!
            a(href='https://alexandere1997.github.io/africa.github.io/' target='_blank') &Scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy;
      .row
        .col-lg-6
          .portfolio__slider5
            img(src='static/img/portfolio/новое/1-min.webp' alt='portfolio')
            img(src='static/img/portfolio/новое/2-min.webp' alt='portfolio')
            img(src='static/img/portfolio/новое/3-min.webp' alt='portfolio')
            img(src='static/img/portfolio/новое/4-min.webp' alt='portfolio')
            img(src='static/img/portfolio/новое/5-min.webp' alt='portfolio')
            img(src='static/img/portfolio/новое/6-min.webp' alt='portfolio')
            img(src='static/img/portfolio/новое/7-min.webp' alt='portfolio')
        .col-lg-6
          .portfolio__text.wow.fadeInLeft(data-wow-delay='0.5s')
            h3 Landing page
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, fuga provident.
              | Libero magni quibusdam labore ad iste saepe hic, maxime qui ipsum tempore beatae,
              | volu tomi ptates doloremque rerum aspernatur dolorum at!
            a(href='https://alexandere1997.github.io/Landinge-Page.github.io/') &Scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy;
      .row
        .col-lg-6
          .portfolio__slider6
            img(src='static/img/portfolio/новое/2-1-min.webp' alt='portfolio')
            img(src='static/img/portfolio/новое/2-2-min.webp' alt='portfolio')
            img(src='static/img/portfolio/новое/2-3-min.webp' alt='portfolio')
            img(src='static/img/portfolio/новое/2-4-min.webp' alt='portfolio')
        .col-lg-6
          .portfolio__text.wow.fadeInLeft(data-wow-delay='0.6s')
            h3 &Dcy;&mcy;&icy;&tcy;&rcy;&icy;&jcy; &Acy;&lcy;&iecy;&kcy;&scy;&iecy;&iecy;&vcy;
            p Frontend-&rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&chcy;&icy;&kcy; &icy; &vcy;&iecy;&bcy;-&vcy;&iecy;&rcy;&scy;&tcy;&acy;&lcy;&softcy;&shchcy;&icy;&kcy;
            a(href='https://alexandere1997.github.io/site-portfolio.github.io/') &Scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy;
      // /.row
      .row
        .col-lg-6
          .portfolio__slider7
            img(src='static/img/portfolio/Tips4Me/1.webp' alt='portfolio')
            img(src='static/img/portfolio/Tips4Me/2.webp' alt='portfolio')
            img(src='static/img/portfolio/Tips4Me/3.webp' alt='portfolio')
            img(src='static/img/portfolio/Tips4Me/4.webp' alt='portfolio')
            img(src='static/img/portfolio/Tips4Me/5.webp' alt='portfolio')
            img(src='static/img/portfolio/Tips4Me/6.webp' alt='portfolio')
            img(src='static/img/portfolio/Tips4Me/7.webp' alt='portfolio')
            img(src='static/img/portfolio/Tips4Me/8.webp' alt='portfolio')
        .col-lg-6
          .portfolio__text.wow.fadeInLeft(data-wow-delay='0.6s')
            h3 Tips4Me 
            p
              | &Bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy; &scy;&iecy;&rcy;&vcy;&icy;&scy; &chcy;&acy;&iecy;&vcy;&ycy;&khcy;
              | &scy; &scy;&icy;&scy;&tcy;&iecy;&mcy;&ocy;&jcy; &ocy;&tcy;&zcy;&ycy;&vcy;&ocy;&vcy; &ocy; &pcy;&iecy;&rcy;&scy;&ocy;&ncy;&acy;&lcy;&iecy;, &rcy;&iecy;&jcy;&tcy;&icy;&ncy;&gcy;&ocy;&mcy;,
              | &acy;&ncy;&acy;&lcy;&icy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&mcy; &mcy;&ocy;&dcy;&ucy;&lcy;&iecy;&mcy; &icy; &bcy;&acy;&zcy;&ocy;&jcy; &rcy;&iecy;&zcy;&yucy;&mcy;&iecy;.
            a(href='https://alexandere1997.github.io/Airbnb.github.io/') &Scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy;
      // /.row
    // /.container
  // Сотрудничество
  section.hire
    .hire__shadow
      .container.h-100
        .row.h-100.align-items-center
          .col-lg-12
            .hire__header.text-center.wow.rubberBand
              h3 &YAcy; &gcy;&ocy;&tcy;&ocy;&vcy; &scy; &Vcy;&acy;&mcy;&icy; &scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&chcy;&acy;&tcy;&softcy;
              a(href='https://vk.com/id114616813') &Ncy;&acy;&zhcy;&mcy;&icy; &ncy;&acy; &mcy;&iecy;&ncy;&yacy;
// Подвал "контакты"
footer#footer.footer
  .container
    .row
      .col-lg-12
        .footer__header.wow.bounceInLeft
          h2 &Scy;&Vcy;&YAcy;&ZHcy;&Icy;&Tcy;&IEcy;&Scy;&SOFTcy; &Scy;&Ocy; &Mcy;&Ncy;&Ocy;&Jcy;
          span
          h3.text-center &Vcy;&ycy;&bcy;&iecy;&rcy;&icy;&tcy;&iecy; &ucy;&dcy;&ocy;&bcy;&ncy;&ycy;&jcy; &scy;&pcy;&ocy;&scy;&ocy;&bcy; &scy;&vcy;&yacy;&zcy;&icy;
    .row
      .col-lg-12.col-sm-12
        .forme-kont
          .menu
            .btn.trigger
              span.line
            .icons
              .rotater
                .btn.btn-icon
                  a(href='https://vk.com/id114616813')
                    i.fa.fa-vk
              .rotater
                .btn.btn-icon
                  a(href='https://www.facebook.com/people/%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80-%D0%9F%D0%BE%D0%BD%D0%B7%D0%B5%D0%BB%D1%8C/100016797905127')
                    i.fa.fa-facebook
              .rotater
                .btn.btn-icon
                  a(href='')
                    i.fa.fa-google-plus
              .rotater
                .btn.btn-icon
                  a(href='https://twitter.com/AlexanderPonzel?s=09')
                    i.fa.fa-twitter
              .rotater
                .btn.btn-icon
                  a(href='https://ok.ru/profile/555573994336')
                    i.fa.fa-odnoklassniki
              .rotater
                .btn.btn-icon
                  a(href='https://e.mail.ru/messages/inbox/?back=1')
                    i.fa.fa-at
              .rotater
                .btn.btn-icon
                  a(href='https://github.com/alexandere1997')
                    i.fa.fa-github
              .rotater
                .btn.btn-icon
                  a(href='https://www.instagram.com/aleksandrponzel/?hl=ru')
                    i.fa.fa-instagram
  // Кнопка вверх
  .back-to-top
    .blIcons
      i.fas.fa-arrow-up
// JQuery
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
// Bootstrap tooltips
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js')
// Bootstrap core JavaScript
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js')
// MDB core JavaScript
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.0/js/mdb.min.js')
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
script(src='static/js/main.min.js')